<h2>!!!LOGIN SUCCESSFULL!!!</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Account
        </th>
    </tr>
    <tr>
        <td>
            {{customer.FullName}}
        </td>
        <td>
            {{customer.Account}}
        </td>
    </tr>
</table>