.customer-avatar{
    width:250px;
    height:250px;
    display: block; 
    margin: 0 auto;
}
.button-follow{
    display: block; 
    margin: 0 auto;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
}