@import 'variables';
.card{
    width: 80%;
    margin: auto;
    img{
      max-height: 300px;
    }
    .card-body{
      .card-text{
        margin-bottom: 0;
      }
      button{
        border: 3px solid random-color();
        border-radius: 10px;
        background-color: rgb(128, 240, 128);
      }
      .card-privacry{
        height: 37px;
        text-align: center;
        margin-right: 0;
        padding: 3px 10px 3px 10px;
        margin-left: auto; 
        border: 3px solid random-color();
        border-radius: 10px;
        background-color: rgb(128, 240, 128);
      }
      .card-title{
        input{
          border: 3px solid random-color();
          border-radius: 10px;
          height: 37px;
          width: 80%;
        }
      }
      .card-checkbox{
        margin-bottom: auto;
        margin-top: 7px;
        position: sticky;
        margin-right: 10px;
      }
    }
}

.card-img-top {
    transition: transform 0.2s; 
    position: relative;
    display: inline-block; 
}
.edit-button {
    position: absolute; 
    top: 8px; 
    right: 8px;
    background-color: red; 
    color: white; 
    border-radius: 50%;
    padding: 10px 8px;
    font-size: 12px; 
    z-index: 1;
}
.span-id{
  position: absolute; 
    top: 8px; 
    left: 8px;
    background-color: red; 
    color: white; 
    border-radius: 50%;
    padding: 10px 14px;
    font-size: 12px; 
    z-index: 1;
}
.card:hover .card-img-top {
    transform: scale(1.2); 
}

.card:hover .edit-button{
  transform: scale(1.2); 
}


.container{
    margin-top: 10px;
}

.truncate-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 100px;
}
.expanded {
  -webkit-line-clamp: unset; /* Bỏ giới hạn số dòng khi mở rộng */
  display:block;
  overflow: visible;
  max-height: none
}

