 <link rel="stylesheet" href="/css/course_list.css">
<div class="container row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly mx-auto" >
     {{#each courses}}
        <div class="col">
          <div class="card h-100">
            <img src="{{this.FolderImg}}" class="card-img-top h-70" alt="...">
            <div class="h-30 card-body">
              <h5 class="card-title">{{this.FolderName}}</h5>
              <p class="card-text">{{this.Description}}</p>
            </div>
          </div>
        </div>
       {{/each}}
        <div class="col">
          <div class="card h-100">
            <img src="../img/nang-cap-von-tu-vung-tieng-anh-cuc-dinh-thong-qua-quiz-kiem-tra-2.jpg" class="card-img-top h-70" alt="...">
            <div class="h-30 card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/tải xuống (1).jpg" class="card-img-top h-70" alt="...">
            <div class="h-30 card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/tải xuống.jpg" class="card-img-top h-70" alt="...">
            <div class="h-30 card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

      </div>